<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sg.edu.np.onetokenocbc">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OneTokenOCBC">
        <activity android:name=".backNRIC"></activity>
        <activity android:name=".singpasslogin" />
        <activity android:name=".createJointMainHolder" /> <!-- <activity android:name=".secretactivity"></activity> -->
        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="ocr,model2,model3" />

        <activity android:name=".newHomepage" /> <!-- <activity android:name=".MainActivity"></activity> -->
        <activity android:name=".userLogin" />
        <activity android:name=".prompt" />
        <activity android:name=".Home" />
         <activity android:name=".MainActivity">
<!--        <activity android:name=".secretactivity">-->

            <!-- <activity android:name=".createJointMainHolder"> -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>